.catdata{
    margin-top:100px;
}

body{
    background:gainsboro;
}

.popup{
    position: fixed;
    left:0;
    top:0;
    background: rgba(0,.0,.0,.0.6);
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity: 0;
    pointer-events: none;
}
.dataDiv{
    background:green;
    width:fit-content;
    max-width: 90%;
    padding: 20px;
    border-radius:10px;
}
.close-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.active{
    opacity: 1;
    pointer-events: auto;
}